/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*.jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
repl
.DS_Store
*.swp
.cpcache/
.shadow-cljs/
node_modules/
