body {background-color: white;}
.bond {stroke: black;}
.label {
  font-family: sans-serif;
  text-anchor: middle;
  dominant-baseline: central;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

circle {stroke-width: 0;}

.hover-marker {
    fill: blue;
    opacity: 0.3;
}

.selection-marker {
    fill: red;
    opacity: 0.5;
}